body{
    background-color:#0E131C;
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
.header {
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #0d0e15;
}

.navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
  max-width: 1000px; 
  height: 5rem; 
}

.navbar .logo {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0; 
}

.nav-links {
  font-family: "Roboto";
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-links li {
  font-size: 16px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #000000;
  border-radius: 5px;
}

/* Footer */
.footer {
  background-color: #0d0e15;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.footer-content {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-logo h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.footer-social {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer-social a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.footer-social a:hover {
  background-color: #000;
  border-radius: 5px;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}

  #particles-js{
    width: 100%;

    position: fixed;
    z-index: -1;
}

.card-body{
  background-color: #444;
  color: #fff;
  
}